@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Thin.woff2') format('woff2'),
    url('../fonts/Switzer-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Extralight.woff2') format('woff2'),
    url('../fonts/Switzer-Extralight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Light.woff2') format('woff2'),
    url('../fonts/Switzer-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Regular.woff2') format('woff2'),
    url('../fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
    url('../fonts/Switzer-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Semibold.woff2') format('woff2'),
    url('../fonts/Switzer-Semibold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Bold.woff2') format('woff2'),
    url('../fonts/Switzer-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Extrabold.woff2') format('woff2'),
    url('../fonts/Switzer-Extrabold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Black.woff2') format('woff2'),
    url('../fonts/Switzer-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
