@import 'tailwindcss';

@theme {
  --font-Switzer: 'Switzer';
  --font-DM: 'DM Sans', sans-serif;

  --breakpoint-2xxs: 360px;
  --breakpoint-xxs: 375px;
  --breakpoint-mxs: 390px;
  --breakpoint-xs: 410px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1360px;
  --breakpoint-3xl: 1536px;
  --breakpoint-4k: 1920px;

  --color-White: #ffffff;
  --color-Black: #28280f;
  --color-Accent: #ac0000;
  --color-Dark: #555550;
  --color-Medium: #a4a4a4;
  --color-Light: #f5f5f5;
  --color-Error: #ce2714;
  --color-Warning: #d88602;
  --color-Success: #71ad16;
  --color-font: #13293d;
}
body {
  @apply font-Switzer text-font;
}
.box-container {
  @apply mx-auto max-w-[1280px] md:px-8 px-4;
}

.iti {
  width: 100%;
}
.iti__flag-container {
  padding-left: 0.5rem;
}
.tab-btn {
  @apply px-5 py-2 text-Black md:text-White rounded-t-xl text-lg transition-colors ease-in-out duration-300 min-w-[160px] border border-b-0 border-White/50 text-start cursor-pointer hover:bg-White/50 hover:border-transparent;
}

.tab-btn.active {
  @apply bg-Light md:bg-White/50 border-transparent;
}

.tab-panel {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 220ms ease;
}

.tab-panel.active {
  opacity: 1;
  pointer-events: auto;
}

iframe {
  transition: opacity 0.25s ease;
}
.hidden-item {
  opacity: 0;
  pointer-events: none;
}

.mySwiper .swiper-wrapper {
  align-items: stretch; /* forces equal height */
}

.mySwiper .swiper-slide {
  height: auto; /* allow content to define height */
  display: flex;
}

.mySwiper .swiper-slide > * {
  flex: 1; /* make inner card fill equally */
}
